In [1]:
import pandas as pd
import numpy as np

In [2]:
#dust1 = pd.read_excel('dust/dust_2010.xlsx')
#dust2 = pd.read_excel('dust/dust_2011.xlsx')
#dust3 = pd.read_excel('dust/dust_2012.xlsx')
#dust4 = pd.read_excel('dust/dust_2013.xlsx')
#dust5 = pd.read_excel('dust/dust_2014.xlsx')
dust6 = pd.read_excel('seoul_dust/dust_2015.xlsx')
dust7 = pd.read_excel('seoul_dust/dust_2016.xlsx')
dust8 = pd.read_excel('seoul_dust/dust_2017.xlsx')
dust9 = pd.read_excel('seoul_dust/dust_2018.xlsx')

초미세먼지는 2014년부터 측정하기 시작함

In [3]:
total_dust = pd.concat([dust6, dust7, dust8, dust9])

In [4]:
total_dust.shape

(55336, 8)

In [5]:
total_dust.head()

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),이산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),초미세먼지(㎍/㎥)
0,20150101,강남구,0.013,0.023,0.2,0.006,66.0,17.0
1,20150101,강남대로,0.032,0.013,0.3,0.005,63.0,12.0
2,20150101,강동구,0.010,0.016,0.4,0.005,63.0,10.0
3,20150101,강변북로,0.024,0.014,0.3,0.004,64.0,14.0
4,20150101,강북구,0.011,0.018,0.2,0.005,63.0,7.0

In [6]:
total_dust['측정소명'].value_counts()

동대문구    1405
강남구     1405
강동구     1405
신촌로     1405
공항대로    1405
용산구     1405
강변북로    1405
구로구     1405
한강대로    1405
성북구     1405
강남대로    1405
홍릉로     1405
광진구     1405
종로구     1405
영등포구    1405
관악구     1405
동작구     1405
서초구     1405
청계천로    1405
중구      1405
천호대로    1405
마포구     1405
도봉구     1405
서대문구    1405
강서구     1405
동작대로    1405
은평구     1405
성동구     1405
송파구     1405
정릉로     1403
노원구     1403
영등포로    1403
종로      1403
중랑구     1402
화랑로     1401
도산대로    1388
강북구     1382
금천구     1376
양천구     1374
홍지문      260
남산        60
북한산       60
행주        60
세곡        60
관악산       60
궁동        60
시흥대로      36
Name: 측정소명, dtype: int64

In [7]:
total_dust.head()

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),이산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),초미세먼지(㎍/㎥)
0,20150101,강남구,0.013,0.023,0.2,0.006,66.0,17.0
1,20150101,강남대로,0.032,0.013,0.3,0.005,63.0,12.0
2,20150101,강동구,0.010,0.016,0.4,0.005,63.0,10.0
3,20150101,강변북로,0.024,0.014,0.3,0.004,64.0,14.0
4,20150101,강북구,0.011,0.018,0.2,0.005,63.0,7.0

In [8]:
total_dust.tail()

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),이산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),초미세먼지(㎍/㎥)
12442,20181231,청계천로,0.049,0.005,0.9,0.005,39.0,31.0
12443,20181231,한강대로,0.073,0.006,0.9,0.004,52.0,34.0
12444,20181231,행주,0.039,0.011,1.0,0.004,60.0,30.0
12445,20181231,홍릉로,0.031,0.004,0.7,0.005,57.0,39.0
12446,20181231,화랑로,0.032,0.005,0.7,0.005,47.0,31.0

In [9]:
total_dust.isnull().sum()

측정일시               0
측정소명               0
이산화질소농도(ppm)     498
오존농도(ppm)        491
이산화탄소농도(ppm)     569
아황산가스(ppm)       502
미세먼지(㎍/㎥)        579
초미세먼지(㎍/㎥)      1482
dtype: int64

초미세먼지 null값이 많아서 제거

In [10]:
remove_dust = total_dust.iloc[:,:-1]

In [11]:
remove_dust.shape

(55336, 7)

In [12]:
remove_dust.isnull().sum()

측정일시              0
측정소명              0
이산화질소농도(ppm)    498
오존농도(ppm)       491
이산화탄소농도(ppm)    569
아황산가스(ppm)      502
미세먼지(㎍/㎥)       579
dtype: int64

In [13]:
remove_col_dust = remove_dust.dropna()

In [14]:
remove_col_dust.describe()

,측정일시,이산화질소농도(ppm),오존농도(ppm),이산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥)
count,5.441000e+04,54410.000000,54410.000000,54410.000000,54410.000000,54410.000000
mean,2.016506e+07,0.036197,0.020495,0.563753,0.005091,46.749311
std,1.102572e+04,0.015941,0.012181,0.245037,0.001830,28.461399
min,2.015010e+07,0.000000,0.000000,0.000000,0.000000,3.000000
25%,2.015122e+07,0.024000,0.011000,0.400000,0.004000,30.000000
50%,2.016120e+07,0.034000,0.019000,0.500000,0.005000,42.000000
75%,2.017112e+07,0.046000,0.028000,0.700000,0.006000,58.000000
max,2.018123e+07,0.169000,0.278000,25.100000,0.148000,709.000000

In [15]:
remove_col_dust.isnull().sum()

측정일시            0
측정소명            0
이산화질소농도(ppm)    0
오존농도(ppm)       0
이산화탄소농도(ppm)    0
아황산가스(ppm)      0
미세먼지(㎍/㎥)       0
dtype: int64

In [16]:
remove_col_dust.shape

(54410, 7)

In [17]:
remove_col_dust['측정소명'].value_counts()

홍릉로     1405
동대문구    1403
한강대로    1401
중랑구     1398
강남대로    1398
강남구     1398
동작대로    1397
마포구     1394
광진구     1393
강동구     1392
도봉구     1392
은평구     1391
강변북로    1390
공항대로    1390
용산구     1389
서초구     1388
관악구     1388
송파구     1387
종로      1386
정릉로     1386
성동구     1386
화랑로     1385
강서구     1382
노원구     1381
영등포구    1380
성북구     1380
강북구     1379
구로구     1377
중구      1376
종로구     1375
금천구     1373
동작구     1364
청계천로    1360
서대문구    1358
양천구     1352
도산대로    1350
신촌로     1346
영등포로    1344
천호대로    1344
홍지문      258
세곡        60
행주        60
북한산       60
남산        60
시흥대로      36
궁동        18
Name: 측정소명, dtype: int64

In [18]:
weather = pd.read_csv("seoul_weather/weather.csv", sep= ",", dtype='unicode', encoding='euc-kr')

In [19]:
weather.head()

    지점          일시 평균기온(°C) 일강수량(mm) 평균 풍속(m/s)
0  400  2015-01-01     -6.8        0        2.7
1  400  2015-01-02     -4.9        0        2.1
2  400  2015-01-03     -2.1        0        1.3
3  400  2015-01-04      2.8        0          1
4  400  2015-01-05      3.8       .5        1.2

In [20]:
weather.shape

(40864, 5)

In [21]:
weather['일시'] = weather['일시'].astype(str)

In [22]:
weather['year'] = weather['일시'].str[0:4]
weather['month'] = weather['일시'].str[5:7]
weather['day'] = weather['일시'].str[8:10]

In [23]:
weather.head()

    지점          일시 평균기온(°C) 일강수량(mm) 평균 풍속(m/s)  year month day
0  400  2015-01-01     -6.8        0        2.7  2015    01  01
1  400  2015-01-02     -4.9        0        2.1  2015    01  02
2  400  2015-01-03     -2.1        0        1.3  2015    01  03
3  400  2015-01-04      2.8        0          1  2015    01  04
4  400  2015-01-05      3.8       .5        1.2  2015    01  05

400 강남
402 강동
424 강북
404 강서
509 관악
413 광진
423 구로
417 금천
410 기상청
425 남현
408 노원
406 도봉
408 동대문
411 마포
422 북악산
420 북한산
412 서대문
401 서초
421 성동
414 성북
403 송파
405 양천
510 영등포
415 용산
416 은평
419 중구
409 중랑
418 한강
889 현충원

In [24]:
remove_col_dust['지점'] = 0

C:\Users\baek\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('강남구'), '지점'] = 400
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('강동구'), '지점'] = 402
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('강북구'), '지점'] = 424
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('강서구'), '지점'] = 404
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('관악구'), '지점'] = 509
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('광진구'), '지점'] = 413
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('구로구'), '지점'] = 423
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('금천구'), '지점'] = 417
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('남현구'), '지점'] = 425
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('노원구'), '지점'] = 408
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('도봉구'), '지점'] = 406
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('동대문구'), '지점'] = 408
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('동작구'), '지점'] = 889
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('마포구'), '지점'] = 411
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('서대문구'), '지점'] = 412
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('서초구'), '지점'] = 401
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('성동구'), '지점'] = 421
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('성북구'), '지점'] = 414
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('송파구'), '지점'] = 403
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('양천구'), '지점'] = 405
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('영등포구'), '지점'] = 510
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('용산구'), '지점'] = 415
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('은평구'), '지점'] = 416
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('종로구'), '지점'] = 410
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('중구'), '지점'] = 419
remove_col_dust.loc[remove_col_dust['측정소명'].str.contains('중랑구'), '지점'] = 409

C:\Users\baek\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [26]:
remove_col_dust.loc[remove_col_dust['지점'] == 0, '측정소명'].value_counts()

홍릉로     1405
한강대로    1401
강남대로    1398
동작대로    1397
공항대로    1390
강변북로    1390
정릉로     1386
종로      1386
화랑로     1385
청계천로    1360
도산대로    1350
신촌로     1346
영등포로    1344
천호대로    1344
홍지문      258
행주        60
북한산       60
세곡        60
남산        60
시흥대로      36
궁동        18
Name: 측정소명, dtype: int64

In [27]:
remove_col_dust.loc[remove_col_dust['지점'] == 0, '측정소명'].count()

19834

In [28]:
remove_col_dust.head()

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),이산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),지점
0,20150101,강남구,0.013,0.023,0.2,0.006,66.0,400
1,20150101,강남대로,0.032,0.013,0.3,0.005,63.0,0
2,20150101,강동구,0.010,0.016,0.4,0.005,63.0,402
3,20150101,강변북로,0.024,0.014,0.3,0.004,64.0,0
4,20150101,강북구,0.011,0.018,0.2,0.005,63.0,424

In [29]:
remove_col_dust['측정일시'] = remove_col_dust['측정일시'].astype(str)

C:\Users\baek\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
remove_col_dust['year'] = remove_col_dust['측정일시'].str[0:4]
remove_col_dust['month'] = remove_col_dust['측정일시'].str[4:6]
remove_col_dust['day'] = remove_col_dust['측정일시'].str[6:8]

C:\Users\baek\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\baek\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\baek\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
remove_col_dust.head()

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),이산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),지점,year,month,day
0,20150101,강남구,0.013,0.023,0.2,0.006,66.0,400,2015,01,01
1,20150101,강남대로,0.032,0.013,0.3,0.005,63.0,0,2015,01,01
2,20150101,강동구,0.010,0.016,0.4,0.005,63.0,402,2015,01,01
3,20150101,강변북로,0.024,0.014,0.3,0.004,64.0,0,2015,01,01
4,20150101,강북구,0.011,0.018,0.2,0.005,63.0,424,2015,01,01

In [32]:
weather.head()

    지점          일시 평균기온(°C) 일강수량(mm) 평균 풍속(m/s)  year month day
0  400  2015-01-01     -6.8        0        2.7  2015    01  01
1  400  2015-01-02     -4.9        0        2.1  2015    01  02
2  400  2015-01-03     -2.1        0        1.3  2015    01  03
3  400  2015-01-04      2.8        0          1  2015    01  04
4  400  2015-01-05      3.8       .5        1.2  2015    01  05

In [33]:
remove_col_dust['지점']  = remove_col_dust['지점'].astype(int)
weather['지점'] = weather['지점'].astype(int)

C:\Users\baek\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
merged_dust = remove_col_dust.merge(weather, on = ['지점', 'year', 'month', 'day'], how = 'left')

In [35]:
merged_dust.head()

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),이산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),지점,year,month,day,일시,평균기온(°C),일강수량(mm),평균 풍속(m/s)
0,20150101,강남구,0.013,0.023,0.2,0.006,66.0,400,2015,01,01,2015-01-01,-6.8,0,2.7
1,20150101,강남대로,0.032,0.013,0.3,0.005,63.0,0,2015,01,01,NaN,NaN,NaN,NaN
2,20150101,강동구,0.010,0.016,0.4,0.005,63.0,402,2015,01,01,2015-01-01,-6.7,0,1.1
3,20150101,강변북로,0.024,0.014,0.3,0.004,64.0,0,2015,01,01,NaN,NaN,NaN,NaN
4,20150101,강북구,0.011,0.018,0.2,0.005,63.0,424,2015,01,01,2015-01-01,-7.1,0,3.3

In [36]:
merged_dust.count()

측정일시            54410
측정소명            54410
이산화질소농도(ppm)    54410
오존농도(ppm)       54410
이산화탄소농도(ppm)    54410
아황산가스(ppm)      54410
미세먼지(㎍/㎥)       54410
지점              54410
year            54410
month           54410
day             54410
일시              34567
평균기온(°C)        34427
일강수량(mm)        34563
평균 풍속(m/s)      34422
dtype: int64

In [37]:
merged_dust.isnull().sum()

측정일시                0
측정소명                0
이산화질소농도(ppm)        0
오존농도(ppm)           0
이산화탄소농도(ppm)        0
아황산가스(ppm)          0
미세먼지(㎍/㎥)           0
지점                  0
year                0
month               0
day                 0
일시              19843
평균기온(°C)        19983
일강수량(mm)        19847
평균 풍속(m/s)      19988
dtype: int64

In [38]:
mer_drop_dust = merged_dust.dropna()

In [39]:
mer_drop_dust['측정소명'].value_counts()

동대문구    1400
중랑구     1396
강남구     1391
도봉구     1389
성동구     1386
광진구     1385
관악구     1384
강동구     1383
서초구     1382
용산구     1381
마포구     1381
노원구     1378
송파구     1378
영등포구    1376
강북구     1376
성북구     1375
구로구     1375
중구      1369
강서구     1368
종로구     1368
금천구     1360
동작구     1358
서대문구    1352
양천구     1349
은평구     1348
Name: 측정소명, dtype: int64

In [40]:
mer_drop_dust.head()

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),이산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),지점,year,month,day,일시,평균기온(°C),일강수량(mm),평균 풍속(m/s)
0,20150101,강남구,0.013,0.023,0.2,0.006,66.0,400,2015,01,01,2015-01-01,-6.8,0,2.7
2,20150101,강동구,0.010,0.016,0.4,0.005,63.0,402,2015,01,01,2015-01-01,-6.7,0,1.1
4,20150101,강북구,0.011,0.018,0.2,0.005,63.0,424,2015,01,01,2015-01-01,-7.1,0,3.3
5,20150101,강서구,0.012,0.023,0.2,0.005,60.0,404,2015,01,01,2015-01-01,-7.3,0,1.8
7,20150101,관악구,0.013,0.014,0.4,0.005,60.0,509,2015,01,01,2015-01-01,-7.7,0,2.3

In [41]:
mer_drop_dust.count()

측정일시            34388
측정소명            34388
이산화질소농도(ppm)    34388
오존농도(ppm)       34388
이산화탄소농도(ppm)    34388
아황산가스(ppm)      34388
미세먼지(㎍/㎥)       34388
지점              34388
year            34388
month           34388
day             34388
일시              34388
평균기온(°C)        34388
일강수량(mm)        34388
평균 풍속(m/s)      34388
dtype: int64